.card{
    display: flex;
    flex-direction: column;
    padding: 25px;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #95dada;
    border-radius: 5px;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card:hover{
    transform: scale(1.05);
}